<{if $imblogging_post}>
<div class="imblogging_post_container">

	<div class="post-date">
		<span class="month"><{$imblogging_post.post_month_short}></span> <span
			class="day"><{$imblogging_post.post_day_number}></span>
	</div>

	<h2 class="post-title"><{$imblogging_post.post_title}></h2>
	<div class="imblogging_post_info">
		<{$imblogging_post.post_info}>
		<{$smarty.const._CO_IMBLOGGING_POST_BY}> <img
			src="<{$imblogging_images_url}>user.gif" alt="" />
		<{$imblogging_post.post_uid}> <{$smarty.const._CO_IMBLOGGING_POST_ON}>
		<img src="<{$imblogging_images_url}>clock.gif" alt="" />
		<{$imblogging_post.post_day}> <{$imblogging_post.post_day_number}>
		<{$imblogging_post.post_month}> <{$imblogging_post.post_year}>
	</div>
	<{if $imblogging_post.categories}>
	<div class="imblogging_post_categories">
		<{foreach item=category from=$imblogging_post.categories name=loop}> <a
			href="index.php?cid=<{$category.id}>"><{$category.title}></a><{if
		!$smarty.foreach.loop.last}>, <{/if}> <{/foreach}>
	</div>
	<{/if}>
	<div class="imblogging_post_content">
		<{$imblogging_post.post_content}></div>

	<div class="imblogging_post_more">
		<{$smarty.const._CO_IMBLOGGING_POST_ALL_POSTS}>
		<{$smarty.const._CO_IMBLOGGING_POST_BY}> <img
			src="<{$imblogging_images_url}>user-pages.gif" alt="" />
		<{$imblogging_post.post_poster_link}>
	</div>
	<{if $imblogging_post.userCanEditAndDelete}>
	<div class="imblogging_admin_links"><{$imblogging_post.editItemLink}><{$imblogging_post.deleteItemLink}></div>
	<{/if}>
</div>
<{/if}>
