<!-- Thank you for keeping this line in the template :-) //-->
<!-- <{$ref_smartfactory}> //-->
<!-- Thank you for keeping this line in the template :-) //-->

<div class="imblogging_headertable">
	<{if $imblogging_module_home}> <span class="imblogging_modulename"><{$imblogging_module_home}></span>
	<{/if}> <{if $imblogging_category_path}> <span
		class="imblogging_breadcrumb"> <{if $imblogging_module_home}>
		&gt; <{/if}> <{$imblogging_category_path}></span> <{/if}>
</div>

<div id="imblogging_submit" style="clear: both;">
	<{if $imblogging_showSubmitLink && $imblogging_userCanSubmit}><a
		href="<{$imblogging_url}>post.php?op=mod"><{$smarty.const._MD_IMBLOGGING_POST_ADD}></a><{/if}>
</div>