<!-- Thank you for keeping this line in the template :-) //-->
<div style="display: none;"><{$ref_smartfactory}></div>
<!-- Thank you for keeping this line in the template :-) //-->

<div class="imblogging_headertable">
	<{if $imblogging_module_home}>
		<span class="imblogging_modulename"><{$imblogging_module_home}></span>
	<{/if}>
	<{if $imblogging_category_path}>
		<span class="imblogging_breadcrumb">
		<{if $imblogging_module_home}>
			&gt;
		<{/if}>
	  	<{$imblogging_category_path}></span>
	<{/if}>
</div>

<div style="clear: both;"></div>