<{$imblogging_jquery_inc}> <{if $imblogging_post_title}>
<h2><{$imblogging_post_title}></h2>
<{/if}> <{if $imblogging_post_info}>
<p><{$imblogging_post_info}></p>
<{/if}> <{if $imblogging_post_table}> <{$imblogging_post_table}> <{/if}>

<{if $addpost}> <{includeq file='db:system_common_form.html'
form=$addpost}> <{/if}>

<script language="JavaScript" type="text/JavaScript">
	jQuery("#new_category_tray").hide();

	function imtaggingAddCategory() {
		var newCategory;
		var parentCategory;
		newCategory = jQuery("#new_category_title").val();
		parentCategory = jQuery("#category_pid").val();

		jQuery.post("post.php",
		  { postid: "<{$post_id}>", op: "addcategory", category_title: newCategory, category_pid: parentCategory},
		  function(data){
			jQuery("#categories").hide();
			jQuery("#categories").html(data);
			jQuery("#categories").slideDown("slow");
		  }
		);
	}
</script>