<{includeq file='db:imblogging_header.html'}>

<{foreach item=imblogging_post from=$imblogging_posts}>
	<div class="imblogging_post_container">
	
	<div class="post-date">
		<span class="month"><{$imblogging_post.post_month}></span>
		<span class="day"><{$imblogging_post.post_day_number}></span>
	</div>
		<h1 class="post-title"><{$imblogging_post.itemLink}></h1>
		<div class="imblogging_post_info"><{$lang_co_imblogging_post_published}> <{$lang_co_imblogging_post_on}> <{$imblogging_post.post_uid}> <{$lang_co_imblogging_post_by}> <{$imblogging_post.post_day}> <{$imblogging_post.post_day_number}> <{$imblogging_post.post_month}> <{$imblogging_post.post_year}> </div>
		<div class="imblogging_post_content">
			<{$imblogging_post.post_lead}>
		</div>
		<div class="imblogging_post_comments">
			<{$imblogging_post.post_comment_info}>
		</div>
		<{if $imblogging_post.userCanEditAndDelete}>
			<div class="imblogging_admin_links"><{$imblogging_post.editItemLink}><{$imblogging_post.deleteItemLink}></div>
		<{/if}>
	</div>
<{/foreach}>
<{if $navbar}>
	<div id="imblogging_navbar">Pages: <{$navbar}></div>
<{/if}>

<{includeq file='db:imblogging_footer.html'}>